.video-container {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.imagen{
    width: 500px;
    height: max-content;
    border-radius: 100%;
}
.cuerpo{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}
.banner{
    display: flex;
    justify-content: center;
    padding:  50px 0 ;
    background-color: antiquewhite;
}
.titulo{
    width: 40%;
}
.titulo h1{
    font-size: 80px;
    margin-bottom: 0;
    font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  color:rgb(15, 31, 77);
}
h2{
    font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.botones{
    display: flex;
}
.botones input{
    width: 150px;
    height: 50px;
    background-color: rgb(15, 31, 77);
    color:whitesmoke;
    font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
}

.botones .botonPlanes{
    background-color: transparent;
    color: rgb(15, 31, 77);
    margin: 0   10px ;
}
.logo {
    height: 50px;
}
section{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
section h3{
    font-size: 50px;
    margin-bottom: 0;
    font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
  color:rgb(15, 31, 77);
}
section h2{
    font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color:rgb(15, 31, 77);
  margin-bottom: 0;
}
section .contenido{
    margin-left: 50px;
    width: 400px;
}
section .titulo{
    text-align: center;
}

.nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cards, .planes{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin-bottom: 50px;

}
.card{
    width: 300px;
    height: 500px;
    background-color: antiquewhite;
    margin: 20px;
    border-radius: 0 0 50px 50px;

}
.card img{
    width: 100%;
    height: 300px;
}
.card .titulo {
    width: 100%;
    text-align: center;
}
.descripcion{
    
    
    text-align: center;
    
    font-size: 17px;
    color:rgb(15, 31, 77);

}

.planes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan:first-child{
    border-radius: 100px 0 0 100px;
}
.plan:last-child{
    border-radius: 0 100px 100px 0;
}

.plan{
    width: 350px;
    height: 500px;
    border: 3px solid rgb(15, 31, 77);
    margin:0 20px ;
    background-color: antiquewhite;
    color: rgb(15, 31, 77);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.plan .titulo, .plan .titulo h2{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Salsa", cursive;
  font-weight: 700;
  font-style: normal;   
  margin-top: 30px;
  
}
.plan ul{
    font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color:rgb(15, 31, 77);
  margin-left: 20px;
  margin-top: 20px;
}
.plan2{
    width: 350px;
    height: 500px;
    background-color: rgb(15, 31, 77);;
    margin:0 20px ;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
}
.plan2 .titulo, .plan2 .titulo h2{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Salsa", cursive;
  font-weight: 700;
  font-style: normal;   
  margin-top: 30px;
  
}
.plan2 ul{
    font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
  margin-left: 20px;
  margin-top: 20px;
}
.plan .boton, .plan2 .boton {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.plan .boton input{
    background-color: antiquewhite;
    border: 2px solid rgb(15, 31, 77);
    width: 150px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(15, 31, 77);
    font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}
.plan2 .boton input{
    background-color: antiquewhite;
    border: 2px solid rgb(15, 31, 77);
    width: 150px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(15, 31, 77);
    font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  
}
.precio{
    position: absolute;
    top:20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: yellow;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(15, 31, 77);
    flex-direction: column;
}
.precio h2, .precio p{
    margin: 0;
    padding: 0;
    height: 20px;
}

.whatsapp{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: rgb(68, 209, 68);
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes{
    width: 100%;
    height: 30px;
    background-color: rgb(15, 31, 77);
    position: fixed ;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    align-items: center;
}
.redes h4{
    margin:0 10px ;

}
.face, .tiktok{
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .banner{
        width: 100%;
        padding: 20px 0;
        margin: 0;
        justify-content: flex-start;

    }
    .logo img{
        width: 300px;
    }
    .titulo h1{
        font-size: 50px;
    }
    section{
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin:20px  auto;    
    }
    .imagen{
        width: 100%;
    }
    section .contenido{
        width: 100%;
    }
     .nosotros{
        width: 100%;
    }
    .plan2{
        border-radius: 0 50px 0 50px;
    }
    
}